.inscription_box {
    width: 40%;
    background: rgba(0, 0, 0, 0.7);
    margin: auto;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    margin-bottom: 5vh;
}

.h1_inscription {
    font-size: 3.125em;
    margin-top: 5%;
    color: white;
}

.form_inscription_group {
    position: relative;
    padding: 2vh 0 0;
    margin-top: 5%;
    width: 50%;
  }
  
.form_inscription_field {
    width: 200%;
    border: 0;
    border-bottom: 2px solid #B8B8B8;
    outline: 0;
    font-size: 1.5rem;
    color: white;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.form_inscription_field::placeholder {
    color: transparent;
}

.form_inscription_field:placeholder-shown ~ .form_inscription_label {
    font-size: 1.2rem;
    cursor: text;
    top: 20px;
    width: 30vh;
}
  
.form_inscription_label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #B8B8B8;
}
.the-form{
    margin-bottom: 5vh;
} 
.form_inscription_field:focus {
    border-image: linear-gradient(to right, white, #ffffff);
    border-image-slice: 1;
}


/* reset input */
.form_inscription_field:required, .form_inscription_field:invalid {
    box-shadow: none;
}

body.light .inscription_box {
    background: rgba(255, 255, 255, 0.7);
}

body.light .h1_inscription {
    color: black;
}

body.light .form_inscription_field {
    border-bottom: 2px solid rgb(36, 36, 36);
    color: black;
}

body.light .form_inscription_label {
    color: rgb(36, 36, 36);
}

body.light .form_inscription_field:focus {
    border-image: linear-gradient(to right, black, rgb(36, 36, 36));
}
.fa-circle-check{
    color: rgb(33, 155, 49);
    font-size: 150px;
    z-index: 5;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    animation: anim-check;
    visibility: hidden;
}

@keyframes anim-check{
from{opacity: 0;}
to{visibility: visible;
    opacity: 1;}
}
