.form-memberapi {
    border: 0;
    border-bottom: 2px solid #B8B8B8;
    outline: 0;
    font-size: 1.5rem;
    color: white;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    width: 50%;
}

.form-div-memberapi{
    display: flex;
    justify-content: center;
}

.button-memberapi{
    border: none;
    background: none;
    color: white;
    border-bottom: #B8B8B8 2px solid;
}

.container-button-memberapi{
    background: #D9D9D9;
    border-radius: 50px;
    width: 250px;
    height: 53.65px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.button-memberapi-validate{
    text-decoration: none;
    border: none;
    background: none;
    font-family: 'Roboto Flex';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #000000;
    background: #D9D9D9;
    border-radius: 50px;
    width: 250px;
    height: 53.65px;
    margin-top: 30px;
}

body.light .button-memberapi-validate{
    background: black;
}

.form-div-memberapi2{
    display: flex;
    position: relative;
    padding: 2vh 0 0;
    margin-top: 5%;
    flex-direction: column;
    align-items: center;
}

.form_memberapi_field{
    border: 0;
    border-bottom: 2px solid #B8B8B8;
    outline: 0;
    font-size: 1.5rem;
    color: white;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    width: 75%;
}

.form_memberapi_field option{
    color: black;
}

.h1wait{
    color: white;
    text-align: -webkit-center;
    font-family: 'Roboto Flex';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
}

.fa-spinner{
    font-size: 100px;
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    animation: spinner 2.5s infinite linear;
}

@keyframes spinner{
    from{transform: rotate(0);}
    to{transform: rotate(360deg);}
}

body.light .fa-spinner, body.light .h1wait{
    color: black;
}

body.light .container-button-memberapi{
    background: rgba(0, 0, 0, 0.7);
}
body.light .button-memberapi-validate{
    color: white;
}
body.light .form_memberapi_field, body.light .form-memberapi, body.light .button-memberapi{
    border-bottom: 2px solid black;
    color: black;
}

.memberapi_box{
    width: 60%;
    background: rgba(0, 0, 0, 0.7);
    margin: auto;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    margin-bottom: 5vh;
    animation: anim-check-hidden 1s;
    visibility: visible;
    min-width: 270px;
}
.h1_memberapi{
    font-size: 2.125em;
    margin-top: 5%;
    color: white;
}
.the-form-api{
    margin-bottom: 5vh;
    width: 100%;
}
.form_api_group{
    position: relative;
    padding: 2vh 0 0;
    margin-top: 5%;
    width: 100%;
}
.h1_repleg{
    margin-top: 15%;
    color: #d7d7d7;
    width: 100%;
    font-size: 23px;
    text-align-last: center;
}
.repleg_box{
    width: 350px;
    background: rgba(0, 0, 0, 0.7);
    margin: auto;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    margin-bottom: 6vh;
}
.form_repleg_group{
    position: relative;
    padding: 2vh 0 0;
    margin-top: 15%;
    width: 100%; 
}

@media screen and (max-width: 360px) {
    .repleg_box{
        width: 250px;
    }
    .h1_repleg{
        font-size: 18px;
    }
    .form_repleg_group{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .form_repleg_field{
        width: 70%;
    }
    .form_repleg_label{
        width: unset !important;
    }
}

    .wait_box{
        margin-bottom: 270px !important;
        padding: 10px;
    }

body.light .memberapi_box{
    background: rgba(255, 255, 255, 0.7);
}
body.light .h1_memberapi{
    color: black;
}